<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soluvis.bakeGR.ivrManagement.mapper.ivrGRBlackListMapper">
   <select id="BlackListGet" parameterType="hashmap" resultType="ivrGRBlack" fetchSize="1000">
		SELECT  seq             as seq,
				ani             as ani,
		        description     as description,
		        connid          as connid,
		        bl_useyn		as bl_useyn,
		        agentid			as agentid,
		        agentname		as agentname,
		        degree			as degree,
		        comp_cd			as comp_cd,
		        crt_dt          as crt_dt,
		        crt_by          as crt_by,
		        upt_dt          as upt_dt,
		        upt_by          as upt_by
		FROM    gsivr.ax_ivr_blackconsumer
		WHERE   1=1
		<if test="comp_cd != '' and comp_cd != null">
		AND		comp_cd = #{comp_cd}
		</if>
		<if test="ani != '' and ani != null">
		AND		ani LIKE '%' || #{ani} || '%'
		</if>
		ORDER BY seq desc
    </select>
    
    <insert id="BlackListIst" parameterType="hashmap">
		INSERT 	INTO gsivr.ax_ivr_blackconsumer (seq, ani, description, connid, bl_useyn, agentid, agentname, degree, comp_cd, crt_dt, crt_by)	
		VALUES	(gsivr.seq_ax_ivr_blackconsumer.nextval, #{ani}, #{description, jdbcType=VARCHAR}, #{connid, jdbcType=VARCHAR}, #{bl_useyn}, #{agentid, jdbcType=VARCHAR}, #{agentname, jdbcType=VARCHAR}, #{degree}, #{comp_cd, jdbcType=VARCHAR}, #{crt_dt}, #{crt_by})
	</insert>
	
    <update id="BlackListUdt" parameterType="hashmap">
		UPDATE	gsivr.ax_ivr_blackconsumer
		SET		description = #{description, jdbcType=VARCHAR},
				connid = #{connid, jdbcType=VARCHAR},
				bl_useyn = #{bl_useyn},
				agentid = #{agentid, jdbcType=VARCHAR},
				agentname = #{agentname, jdbcType=VARCHAR},
				comp_cd = #{comp_cd, jdbcType=VARCHAR},
				degree = #{degree},
				upt_dt = #{upt_dt},
				upt_by = #{upt_by}
		WHERE	seq = #{seq}
	</update>
	
    <delete id="BlackListDel" parameterType="hashmap">
		DELETE	
		FROM	gsivr.ax_ivr_blackconsumer
		WHERE	seq = #{seq}
	</delete>    
	
	<select id="RecGet" parameterType="hashmap" resultType="ivrGRBlack" fetchSize="1000">
		SELECT  code            as code,
				name            as name
		FROM    ax_common_code_m
		WHERE   group_cd = 'RECORD'		
    </select>
</mapper>