<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soluvis.bakeGR.ivrManagement.mapper.ivrGRCallbackMapper">
   <select id="CallbackGet" parameterType="hashmap" resultType="ivrGRCallback" fetchSize="1000">
		SELECT  dnis            as dnis,
		        menu            as menu,
		        cb_useyn        as cb_useyn,
		        crt_dt          as crt_dt,
		        crt_by          as crt_by,
		        upt_dt          as upt_dt,
		        upt_by          as upt_by        
		FROM    givr.ax_ivr_callback_gr
		WHERE   1=1
		ORDER BY dnis asc, menu asc
    </select>
    
    <insert id="CallbackIst" parameterType="hashmap">
		INSERT 	INTO givr.ax_ivr_callback_gr (dnis, menu, cb_useyn, crt_dt, crt_by)	
		VALUES	(#{dnis}, #{menu}, #{cb_useyn}, #{crt_dt}, #{crt_by})
	</insert>
	
    <update id="CallbackUdt" parameterType="hashmap">
		UPDATE	givr.ax_ivr_callback_gr
		SET		cb_useyn = #{cb_useyn},
				upt_dt = #{upt_dt},
				upt_by = #{upt_by}
		WHERE	dnis = #{dnis}
		AND		menu = #{menu}
	</update>
	
    <delete id="CAllbackDel" parameterType="hashmap">
		DELETE	
		FROM	givr.ax_ivr_callback_gr
		WHERE	dnis = #{dnis}
		AND		menu = #{menu}
	</delete>    
</mapper>