.grid-cell-red {
	background:#DB0000
}

.grid-cell-green {
	background:#1DDB16
}

.grid-cell-skyblue {
	background:#00D8FF
}

.grid-cell-violet {
	background:#FF007F
}

.grid-cell-orange {
	background:#FF5E00
}

.grid-cell-pink {
	background:#F15F5F
}

.grid-cell-gray {
	background:#BDBDBD
}

.grid-cell-blue {
	background:#6B66FF
}

