<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soluvis.bakeGR.ivrStat.mapper.ivrCalllogMapper">
   <select id="CalllogGet" parameterType="hashmap" resultType="hashmap" fetchSize="1000">
		SELECT	end_date as end_date,
				in_date || ' ' || in_time as in_time,
				end_date || ' ' || end_time as end_time,
				arsid as arsid,
				connid as connid,
				comp_cd as comp_cd,
				machine_cd as machine_cd,
				dnis as dnis,
				did as did,
				ani as ani,
				agent_flag as agent_flag,
				out_vdn as out_vdn,
				ars_history as ars_history,
				last_code as last_code,
				black_code as black_code,
				privacy_yn as privacy_yn,
				privacy_ani as privacy_ani
		FROM 	gsivr.ARS_DATA_CALL
		WHERE	in_date <![CDATA[>=]]> #{startdate}
		AND		end_date <![CDATA[<=]]> #{enddate}
		AND		in_time <![CDATA[>=]]> #{starttime}
		AND		end_time <![CDATA[<=]]> #{endtime}
		<if test="comp_cd != '' and comp_cd != null">
		AND		comp_cd = #{comp_cd}
		</if>
		<if test="did != '' and did != null">
		AND		did = #{did}
		</if>
		<if test="ani != '' and ani != null">
		AND		ani in (${ani})
		</if>
		ORDER BY end_time desc
    </select>

</mapper>
