<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soluvis.bakeGR.ivrStat.mapper.ivrServiceStatMapper">
   <select id="ServiceStatGet" parameterType="hashmap" resultType="hashmap" fetchSize="1000">
		SELECT	row_date as row_date,
				<if test="interval != 'day' and interval != 'month'">
				starttime as starttime,
				</if>
				comp_cd as comp_cd,
				did as did,
				service as service,
				n_incall as n_incall,
				n_agentreq as n_agentreq
		FROM 	${table}
		WHERE	row_date <![CDATA[>=]]> #{startdate}
		AND		row_date <![CDATA[<=]]> #{enddate}
		<if test="interval != 'day' and interval != 'month'">
		AND		starttime <![CDATA[>=]]> #{starttime}
		AND		starttime <![CDATA[<=]]> #{endtime}
		</if>
		<if test="comp_cd != '' and comp_cd != null">
		AND		comp_cd = #{comp_cd}
		</if>
		<if test="did != '' and did != null">
		AND		did = #{did}
		</if>
		ORDER BY row_date asc <if test="interval != 'day' and interval != 'month'">, starttime asc</if>
    </select>

</mapper>