<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.soluvis.bakeRt.ivrManagement.mapper.ivrBlackListMapper">
   <select id="BlackListGet" parameterType="hashmap" resultType="ivrBlack" fetchSize="1000">
		SELECT	ani 	as ani, 
				flag 	as flag, 
				crt_dt 	as crt_dt, 
				crt_by 	as crt_by, 
				upt_dt 	as upt_dt, 
				upt_by  as upt_by
		FROM 	givr.ax_ivr_blackconsumer
		<if test="ani != '' and ani != null">
		WHERE	ani = #{ani}
		</if>
		ORDER BY ani asc, crt_dt asc
    </select>
    
    <insert id="BlackListIst" parameterType="hashmap">
		INSERT 	INTO givr.ax_ivr_blackconsumer (ani, flag, crt_dt, crt_by)	
		VALUES	(#{ani}, #{flag}, #{crt_dt}, #{crt_by})
	</insert>
	
    <update id="BlackListUdt" parameterType="hashmap">
		UPDATE	givr.ax_ivr_blackconsumer
		SET		flag = #{flag},
				upt_dt = #{upt_dt},
				upt_by = #{upt_by}
		WHERE	ani = #{ani}
	</update>
	
    <delete id="BlackListDel" parameterType="hashmap">
		DELETE	
		FROM	givr.ax_ivr_blackconsumer
		WHERE	ani = #{ani}	
	</delete>    
</mapper>